.page {

	&-header {
		position: relative;
		width: calc(100% + 20px);
		top: -10px;
		left: -10px;
		margin-bottom: 20px;
	}

	&-wrapper {
		width: 100%;
		
		.content {
			max-width: 1200px;
			margin: auto;
		}
	}
}
