<mat-toolbar class="page-header" color="primary">
	<mat-toolbar-row class="content" >
		<div>{{ title }}</div>
	</mat-toolbar-row>
</mat-toolbar>

<!-- TODO: add back for later for alternate style options -->
<!-- <div class="page-styles">
	<mat-form-field id="pageStyles" class="content" fxLayout="row" fxLayoutAlign="end" >
		<mat-label>Select Styler</mat-label>
		<select 
			matNativeControl 
			required 
			[formControl]="appStylesForm" 
			(change)="changed($event)" >
			<option label="-- Select a Style --"></option>
			<option *ngFor="let style of appStyles" [value]="style.value">
				{{ style.viewValue }}
			</option>
		</select>
	</mat-form-field>
</div> -->

<div 
	class="page-wrapper" 
	[ngClass]="{
		'material': isMaterial(),
		'sass': isSass()
	}" >
	<div class="content">
		<router-outlet></router-outlet>
	</div>
</div>
