@mixin contentWidth() {
    .content {
        max-width: 1200px;
        margin: 0 auto 10px;
    }
}

.page {
    &-header {
        position: relative;
        width: calc(100% + 20px);
        top: -10px;
        left: -10px;
        margin-bottom: 20px;

		@include contentWidth();
    }

    &-wrapper,
    &-styles {
        width: 100%;

		@include contentWidth();
    }
}
