.sass {
	font-family: Roboto, "Helvetica Neue", sans-serif;

	.card {
		position: relative;
		padding: 15px;
		border-radius: 4px;
		display: block;
		box-shadow: 0 2px 3px 0 silver;

		// &__header {}

		// &__content {}
	}

}
